.circle{list-style:circle;}
.square{list-style:square;}
.roman{list-style:Lower-roman;}
.roman_upper{list-style:upper-roman;}
.nubers{list-style:-;}
.leters{list-style:lower-latin;}
.leters_upper{list-style:upper-latin;}